SMTP_HOST=192.168.212.220
SMTP_PORT=25
SMTP_SECURE=false
SMTP_AUTH_METHOD=none
# No authentication required for internal server
# SMTP_USER=
# SMTP_PASS=
SMTP_REQUIRE_TLS=false
SMTP_FROM_EMAIL=DEDE_SYSTEM@dit.daikin.co.jp
SMTP_FROM_NAME=DEDE_SYSTEM
EMAIL_DOMAIN=dit.daikin.co.jp
ORGANIZATION_NAME=Daikin